@mixin primary-font($size: false, $colour: false, $weight: false, $lh: false) {
  font-family: $font-primary;
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
}

@mixin secondary-font(
  $size: false,
  $colour: false,
  $weight: false,
  $lh: false
) {
  font-family: $font-secondary;
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
}

@mixin truncate($truncation-boundary: false) {
  @if $truncation-boundary {
    max-width: $truncation-boundary;
  }
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
